# Telegram Bot Token (BotFather'dan olinadi)
BOT_TOKEN=7777777777:YOUR_BOT_TOKEN_HERE

# VIP Admin Telegram Username (atsiz / @ belgisisiz)
ADMIN_USERNAME=bakhridd1n_dev

# Speech-to-Text uchun Groq yoki OpenAI API Kalit (Groq bepul va tezkor: console.groq.com)
GROQ_API_KEY=gsk_your_groq_api_key_here
OPENAI_API_KEY=sk-your_openai_api_key_here

# To'lov provayder tokenlari (Click/Payme)
PAYME_PROVIDER_TOKEN=
CLICK_PROVIDER_TOKEN=
